:root {
    --color-primary: rgb(124, 12, 24);
    --color-secondary: rgb(213, 79, 80);
    --color-accent: rgba(119, 112, 150, 1);
    --color-warning: rgba(202, 121, 45, 1);
    --color-danger: rgba(180, 25, 14, 1);
    --color-success: rgba(77, 137, 101, 1);
    --color-dark: rgb(78, 8, 8);
    --color-light: rgb(204, 126, 126);
    --color-info: rgba(25, 28, 38, 1);

    --primary-color-gradient: linear-gradient(45deg,
            var(--color-primary),
            var(--color-light) 30%,
            white 60%);

    --text-font-size: 1.1svw;
    --text-line-height: 1.3svw;
    --text-color-standard: rgb(255, 255, 255);

}

html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
}

.hidden {
    display: none;
}