:root {
    --color-primary: rgb(124, 12, 24);
    --color-secondary: rgb(194, 54, 54);
    --color-tertiary: rgb(60, 151, 255);
    --color-dark: rgb(78, 8, 8);
    --color-light: rgb(231, 221, 221);
    --color-light-2: beige;
    --color-background-primary: rgb(18, 21, 27);
    --color-background-secondary: rgb(20, 25, 43);

    --text-color-standard: rgb(255, 255, 255);
    --text-color-dark: rgba(25, 28, 38, 1);
    --box-background: rgba(0, 0, 0, 0.692);
    --box-shadow: rgba(0, 0, 0, 0.596);
    --text-shadow: rgba(0, 0, 0, 0.432);

    --text-font-size: 1.125rem;
    --text-font-size-mobile: 1rem;
    --text-line-height: 0.1rem;

}

@keyframes fly {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeInBars {
    from {
        background-position: 100% 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes slice {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000%;
    }

    100% {
        background-position: 1000%;
    }
}

@keyframes hover_up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes hover_down {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(0);
    }
}

html {
    font-family: sans-serif;

    background: var(--color-background-primary);
    color: var(--text-color-standard);
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}


@media (min-width: 250px) {

    html {
        font-size: var(--text-font-size-mobile);
    }
}

@media (min-width: 768px) {

    html {
        font-size: var(--text-font-size);
    }
}