---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Über uns">
  <h1>Über uns</h1>
  <h2>DIE RÖMERABTEILUNG - EINE ERFOLGSGESCHICHTE</h2>
  <p>
    Die Abteilung kann selbst erst auf eine junge Geschichte zurückblicken. In
    ihrer Gründungsphase war aber schnell erkannt, dass eine Zusammenarbeit für
    die junge Römergruppe unter dem Dach des Historischen Vereins für beide
    Seiten vorteilhafte Synergien mit sich bringen würde. Für Welzheim war die
    Gründung einer eigenen Römergruppe längst eine Notwendigkeit, auch wenn
    diese die Anfangsmitglieder eher unbewusst ergab.
    <br />
     So ist die Abteilung inzwischen aus dem Vereinsleben nicht mehr
    wegzudenken. Die „NBLer“ haben sich eingefügt in den musealen
    Vermittlungsauftrag des städtischen Museums und tragen wesentlich dazu bei,
    die Vereinsaufgabe der Trägerschaft für den Archäologischen Park
    auszufüllen. Verein und Abteilung haben seit Begründung der Zusammenarbeit
    wechselseitig Unterstützung und Hilfe bieten können. Im Vorstand des Vereins
    werden die Aktivitäten koordiniert und die Abteilung bringt sich aktiv ein.
    <br />
     Die für vergleichbare ungewöhnliche Formierung als Vereinsabteilung hat
    sich inzwischen als ein erfolgversprechendes Modell bewährt. Wohl keine
    andere Gruppe kann auf diese enge Vernetzung mit einem Museum und einer
    authentischen Wirkstätte verweisen.
    <br />
     Die inzwischen über 30 Mitglieder rekrutieren sich aus allen Altergruppen,
    Berufssparten und zunehmend aus einem überregionalen Einzugsbereich. Ihr
    großes Engagement erfolgt ehrenamtlich und gemeinnützig, was auch wieder ein
    besonderes Alleinstellungsmerkmal bedeutet. Alle Erlöse von Veranstaltungen
    und Gageaufritte kommen direkt den Abteilungszielen zugute.
  </p>
  <h3>»LEBEN AM LIMES«</h3>
  <p>
    Unsere Vermittlung in der konkreten Darstellung Der Numerus Brittonum stellt
    den militärischen und zivilen Kontext einer Grenzgesellschaft am
    obergermanisch-raetischen Limes des 3.Jhds dar. Auf diese Weise kann die
    Vermittlung der archäologischen Stätten am Welterbe Limes ein neue – bisher
    einmalige – Dimension gewinnen, um letztlich für deren Bedeutung und
    Schutzwürdigkeit einen Beitrag zu leisten. Dies geschieht exemplarisch
    anhand der Abbildung einer Hilfstruppeneinheit mitsamt aller
    gesellschaftlichen Bezüge am Randes des Imperiums. Denn der Limes ist mehr
    als die – heute noch teilweise sichtbaren – Grenzanlagen. Der Limes als
    markante Trennlinie des direkten Einflußgebietes Roms war auch ein
    kultureller Begegnungs- und Verdichtungsraum: Hier treffen nicht nur
    römische, keltische und germanische Einflüsse aufeinander, sondern durch die
    Soldaten war das ganze Reichsgebiet kulturell auf dem kleinen Raum der
    Grenzgarnisonen vertreten. Nirgends sonst waren die Kräfte der
    Romanisierung, der kulturellen und lebensartlichen Ausstrahlung Roms auf
    seine Provinzen, so stark wie auf die militärischen Außengrenzen. Hierbei
    ist auch auf das enge Wechselverhältnis zwischen Soldaten und Zivilisten
    hinzuweisen, wie es am Limes bestand und nicht wegzudenken war. Egal ob
    Soldat, Handwerkergattin, Händler, Wirtsfrau oder die Familien der Truppen.
    Alle haben Sie einen Anteil am Leben am Limes. Diesen Menschen wollen wir
    uns widmen.
  </p>
</Layout>

<style>
  p {
    display: flex;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    z-index: 0;
  }
</style>
