---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";
---

<Layout title="Über uns">
  <TopBar />
  <div class="group_image">
    <img src="/public/aalen_2023_cut_upscaled.jpg" alt="Gruppenbild" />
    <div class="headline">
      <h1>
        <strong id="headline_1_upper">Über&nbsp;uns</strong>
        <br />
        <br />
        <strong id="headline_1_lower">Gibt es viel zu erzählen</strong>
      </h1>
    </div>
  </div>
  <div class="section_1">
    <h2>DIE RÖMERABTEILUNG - EINE ERFOLGSGESCHICHTE</h2>
    <p>
      Die Abteilung kann selbst erst auf eine junge Geschichte zurückblicken. In
      ihrer Gründungsphase war aber schnell erkannt, dass eine Zusammenarbeit
      für die junge Römergruppe unter dem Dach des Historischen Vereins für
      beide Seiten vorteilhafte Synergien mit sich bringen würde. Für Welzheim
      war die Gründung einer eigenen Römergruppe längst eine Notwendigkeit, auch
      wenn diese die Anfangsmitglieder eher unbewusst ergab.
      <br />
      So ist die Abteilung inzwischen aus dem Vereinsleben nicht mehr wegzudenken.
      Die „NBLer“ haben sich eingefügt in den musealen Vermittlungsauftrag des städtischen
      Museums und tragen wesentlich dazu bei, die Vereinsaufgabe der Trägerschaft
      für den Archäologischen Park auszufüllen. Verein und Abteilung haben seit Begründung
      der Zusammenarbeit wechselseitig Unterstützung und Hilfe bieten können. Im
      Vorstand des Vereins werden die Aktivitäten koordiniert und die Abteilung bringt
      sich aktiv ein.
      <br />
      Die für vergleichbare ungewöhnliche Formierung als Vereinsabteilung hat sich
      inzwischen als ein erfolgversprechendes Modell bewährt. Wohl keine andere Gruppe
      kann auf diese enge Vernetzung mit einem Museum und einer authentischen Wirkstätte
      verweisen.
      <br />
      Die inzwischen über 30 Mitglieder rekrutieren sich aus allen Altergruppen,
      Berufssparten und zunehmend aus einem überregionalen Einzugsbereich. Ihr großes
      Engagement erfolgt ehrenamtlich und gemeinnützig, was auch wieder ein besonderes
      Alleinstellungsmerkmal bedeutet. Alle Erlöse von Veranstaltungen und Gageaufritte
      kommen direkt den Abteilungszielen zugute.
    </p>
  </div>
  <h3>»LEBEN AM LIMES«</h3>
  <p class="section_2_p">
    Unsere Vermittlung in der konkreten Darstellung Der Numerus Brittonum stellt
    den militärischen und zivilen Kontext einer Grenzgesellschaft am
    obergermanisch-raetischen Limes des 3.Jhds dar. Auf diese Weise kann die
    Vermittlung der archäologischen Stätten am Welterbe Limes ein neue – bisher
    einmalige – Dimension gewinnen, um letztlich für deren Bedeutung und
    Schutzwürdigkeit einen Beitrag zu leisten. Dies geschieht exemplarisch
    anhand der Abbildung einer Hilfstruppeneinheit mitsamt aller
    gesellschaftlichen Bezüge am Randes des Imperiums. Denn der Limes ist mehr
    als die – heute noch teilweise sichtbaren – Grenzanlagen. Der Limes als
    markante Trennlinie des direkten Einflußgebietes Roms war auch ein
    kultureller Begegnungs- und Verdichtungsraum: Hier treffen nicht nur
    römische, keltische und germanische Einflüsse aufeinander, sondern durch die
    Soldaten war das ganze Reichsgebiet kulturell auf dem kleinen Raum der
    Grenzgarnisonen vertreten. Nirgends sonst waren die Kräfte der
    Romanisierung, der kulturellen und lebensartlichen Ausstrahlung Roms auf
    seine Provinzen, so stark wie auf die militärischen Außengrenzen. Hierbei
    ist auch auf das enge Wechselverhältnis zwischen Soldaten und Zivilisten
    hinzuweisen, wie es am Limes bestand und nicht wegzudenken war. Egal ob
    Soldat, Handwerkergattin, Händler, Wirtsfrau oder die Familien der Truppen.
    Alle haben Sie einen Anteil am Leben am Limes. Diesen Menschen wollen wir
    uns widmen.
  </p>
</Layout>

<style>
  @media (min-width: 250px) {
    .group_image {
      position: relative;
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .headline {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: calc(var(--text-font-size-mobile) + 0.5rem);
      z-index: 0;
      text-align: center;
      margin: auto;
      padding: 2rem 1rem;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    #headline_1_upper {
      margin: auto;
      color: var(--color-light);
    }

    #headline_1_lower {
      margin: auto;
      color: var(--color-secondary);
    }

    h2 {
      text-align: center;
      margin: auto;
      font-size: calc(var(--text-font-size-mobile) + 0.25svh);
      padding: 0rem 0 1rem 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    .section_1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 800px;
      margin: auto;
      padding: 2rem 1rem 2rem;
      background-color: var(--color-primary);
      box-shadow: 0px 0px 6px 0px var(--box-shadow);
    }

    h3 {
      text-align: center;
      margin: auto;
      font-size: calc(var(--text-font-size-mobile) + 0.25svh);
      padding: 2rem 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    .section_2_p {
      text-align: center;
      margin: auto;
      max-width: 800px;
      padding: 1rem 1rem 2rem;
      background-color: var(--color-primary);
      box-shadow: 0px 0px 6px 0px var(--box-shadow);
    }
  }

  @media (min-width: 768px) {
  }
</style>
