---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Über uns">
  <h1>Über uns</h1>
  <p>
    DIE RÖMERABTEILUNG - EINE ERFOLGSGESCHICHTE Die Abteilung kann selbst erst
    auf eine junge Geschichte zurückblicken. In ihrer Gründungsphase war aber
    schnell erkannt, dass eine Zusammenarbeit für die junge Römergruppe unter
    dem Dach des Historischen Vereins für beide Seiten vorteilhafte Synergien
    mit sich bringen würde. Für Welzheim war die Gründung einer eigenen
    Römergruppe längst eine Notwendigkeit, auch wenn diese die Anfangsmitglieder
    eher unbewusst ergab.
    <br />
     So ist die Abteilung inzwischen aus dem Vereinsleben nicht mehr
    wegzudenken. Die „NBLer“ haben sich eingefügt in den musealen
    Vermittlungsauftrag des städtischen Museums und tragen wesentlich dazu bei,
    die Vereinsaufgabe der Trägerschaft für den Archäologischen Park
    auszufüllen. Verein und Abteilung haben seit Begründung der Zusammenarbeit
    wechselseitig Unterstützung und Hilfe bieten können. Im Vorstand des Vereins
    werden die Aktivitäten koordiniert und die Abteilung bringt sich aktiv ein.
    <br />
     Die für vergleichbare ungewöhnliche Formierung als Vereinsabteilung hat
    sich inzwischen als ein erfolgversprechendes Modell bewährt. Wohl keine
    andere Gruppe kann auf diese enge Vernetzung mit einem Museum und einer
    authentischen Wirkstätte verweisen.
    <br />
     Die inzwischen über 30 Mitglieder rekrutieren sich aus allen Altergruppen,
    Berufssparten und zunehmend aus einem überregionalen Einzugsbereich. Ihr
    großes Engagement erfolgt ehrenamtlich und gemeinnützig, was auch wieder ein
    besonderes Alleinstellungsmerkmal bedeutet. Alle Erlöse von Veranstaltungen
    und Gageaufritte kommen direkt den Abteilungszielen zugute.
  </p>
</Layout>

<style>
  p {
    display: flex;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    z-index: 0;
  }
</style>
