---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";

const images = [
  { src: "/besuch_1.jpg", alt: "Image 1" },
  { src: "/besuch_2.jpg", alt: "Image 2" },
  { src: "/besuch_3.jpg", alt: "Image 3" },
  { src: "/besuch_4.jpg", alt: "Image 4" },
  { src: "/aufbau_1.jpg", alt: "Image 5" },
];
---

<Layout title="Über uns">
  <TopBar />
  <div class="about_body">
    <div class="head_image">
      <img src="/aalen_2023_cut_upscaled.jpg" alt="Gruppenbild" />
      <div class="headline">
        <h1>
          <strong id="headline_1_upper">Über&nbsp;uns</strong>
          <br />
          <br />
          <strong id="headline_1_lower">Gibt es viel zu erzählen</strong>
        </h1>
      </div>
    </div>
    <h2>DIE RÖMERABTEILUNG - EINE ERFOLGSGESCHICHTE</h2>
    <div class="container_1">
      <p>
        Die Abteilung kann selbst erst auf eine junge Geschichte zurückblicken.
        In ihrer Gründungsphase war aber schnell erkannt, dass eine
        Zusammenarbeit für die junge Römergruppe unter dem Dach des Historischen
        Vereins für beide Seiten vorteilhafte Synergien mit sich bringen würde.
        Für Welzheim war die Gründung einer eigenen Römergruppe längst eine
        Notwendigkeit, auch wenn diese die Anfangsmitglieder eher unbewusst
        ergab.
        <br />
        So ist die Abteilung inzwischen aus dem Vereinsleben nicht mehr wegzudenken.
        Die „NBLer“ haben sich eingefügt in den musealen Vermittlungsauftrag des
        städtischen Museums und tragen wesentlich dazu bei, die Vereinsaufgabe der
        Trägerschaft für den Archäologischen Park auszufüllen. Verein und Abteilung
        haben seit Begründung der Zusammenarbeit wechselseitig Unterstützung und
        Hilfe bieten können. Im Vorstand des Vereins werden die Aktivitäten koordiniert
        und die Abteilung bringt sich aktiv ein.
        <br />
        Die für vergleichbare ungewöhnliche Formierung als Vereinsabteilung hat sich
        inzwischen als ein erfolgversprechendes Modell bewährt. Wohl keine andere
        Gruppe kann auf diese enge Vernetzung mit einem Museum und einer authentischen
        Wirkstätte verweisen.
        <br />
        Die inzwischen über 30 Mitglieder rekrutieren sich aus allen Altergruppen,
        Berufssparten und zunehmend aus einem überregionalen Einzugsbereich. Ihr
        großes Engagement erfolgt ehrenamtlich und gemeinnützig, was auch wieder
        ein besonderes Alleinstellungsmerkmal bedeutet. Alle Erlöse von Veranstaltungen
        und Gageaufritte kommen direkt den Abteilungszielen zugute.
      </p>
    </div>
    <h3>»LEBEN AM LIMES«</h3>
    <div class="container_1">
      <p>
        Unsere Vermittlung in der konkreten Darstellung Der Numerus Brittonum
        stellt den militärischen und zivilen Kontext einer Grenzgesellschaft am
        obergermanisch-raetischen Limes des 3.Jhds dar. Auf diese Weise kann die
        Vermittlung der archäologischen Stätten am Welterbe Limes ein neue –
        bisher einmalige – Dimension gewinnen, um letztlich für deren Bedeutung
        und Schutzwürdigkeit einen Beitrag zu leisten. Dies geschieht
        exemplarisch anhand der Abbildung einer Hilfstruppeneinheit mitsamt
        aller gesellschaftlichen Bezüge am Randes des Imperiums. Denn der Limes
        ist mehr als die – heute noch teilweise sichtbaren – Grenzanlagen. Der
        Limes als markante Trennlinie des direkten Einflußgebietes Roms war auch
        ein kultureller Begegnungs- und Verdichtungsraum: Hier treffen nicht nur
        römische, keltische und germanische Einflüsse aufeinander, sondern durch
        die Soldaten war das ganze Reichsgebiet kulturell auf dem kleinen Raum
        der Grenzgarnisonen vertreten. Nirgends sonst waren die Kräfte der
        Romanisierung, der kulturellen und lebensartlichen Ausstrahlung Roms auf
        seine Provinzen, so stark wie auf die militärischen Außengrenzen.
        Hierbei ist auch auf das enge Wechselverhältnis zwischen Soldaten und
        Zivilisten hinzuweisen, wie es am Limes bestand und nicht wegzudenken
        war. Egal ob Soldat, Handwerkergattin, Händler, Wirtsfrau oder die
        Familien der Truppen. Alle haben Sie einen Anteil am Leben am Limes.
        Diesen Menschen wollen wir uns widmen.
      </p>
    </div>
  </div>
  <div class="gallery">
    <a href="#img1">
      <img src="/aufbau_01.jpg" alt="Bild 1" />
    </a>
    <a href="#img2">
      <img src="/besuch_01.jpg" alt="Bild 2" />
    </a>
    <a href="#img3">
      <img src="/besuch_02.jpg" alt="Bild 3" />
    </a>
    <a href="#img4">
      <img src="/besuch_03.jpg" alt="Bild 4" />
    </a>
    <a href="#img5">
      <img src="/besuch_04.jpg" alt="Bild 5" />
    </a>
    <a href="#img6">
      <img src="/darstellung_01.jpg" alt="Bild 6" />
    </a>
    <a href="#img7">
      <img src="/darstellung_02.jpg" alt="Bild 7" />
    </a>
    <a href="#img8">
      <img src="/darstellung_03.jpg" alt="Bild 8" />
    </a>
    <a href="#img9">
      <img src="/darstellung_04.jpg" alt="Bild 9" />
    </a>
    <a href="#img10">
      <img src="/darstellung_05.jpg" alt="Bild 10" />
    </a>
  </div>

  <div class="lightbox" id="img1">
    <img id="img1" src="/aufbau_01.jpg" alt="Bild 1" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img2">
    <img id="img2" src="/besuch_01.jpg" alt="Bild 2" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img3">
    <img id="img3" src="/besuch_02.jpg" alt="Bild 3" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img4">
    <img id="img4" src="/besuch_03.jpg" alt="Bild 4" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img5">
    <img id="img5" src="/besuch_04.jpg" alt="Bild 5" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img6">
    <img id="img6" src="/darstellung_01.jpg" alt="Bild 6" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img7">
    <img id="img7" src="/darstellung_02.jpg" alt="Bild 7" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img8">
    <img id="img8" src="/darstellung_03.jpg" alt="Bild 8" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img9">
    <img id="img9" src="/darstellung_04.jpg" alt="Bild 9" />
    <a href="#_" class="close"></a>
  </div>
  <div class="lightbox" id="img10">
    <img id="img10" src="/darstellung_05.jpg" alt="Bild 10" />
    <a href="#_" class="close"></a>
  </div>

  <style>
    @media (min-width: 250px) {
      #about_body {
        z-index: 1;
        margin: 8rem auto 0;
        text-align: center;
        text-underline-offset: 0.5rem;
      }

      /* Picture gallery GRID */
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0.7rem;
        grid-auto-rows: 150px;
        margin: 1rem 0;
      }

      /* Gallery images styling */
      .gallery img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover; /* Hier die gewünschte Einstellung für object-fit */
      }

      /* Clickable lightbox styling */
      .lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
      }

      /* Lightbox image styling */
      .lightbox img {
        max-width: 90%;
        max-height: 90%;
        margin: auto;
        display: block;
      }

      /* Close button styling - Whole screen */
      .close {
        position: absolute;
        padding: 100%;
      }

      /* Target to display in flex when clicked on lightbox */
      :target {
        display: flex;
      }

      /* Hero Image */
      .head_image {
        max-width: 100vmax;
        overflow: hidden;
        position: relative;
      }

      .head_image img {
        max-width: 100%;
        box-shadow: 0px 0px 6px 0px var(--box-shadow);
      }

      .headline {
        display: flex;
        justify-content: space-between;
      }

      h1 {
        font-size: calc(var(--text-font-size-mobile) + 0.5rem);
        z-index: 0;
        text-align: center;
        margin: auto;
        padding: 2rem 1rem;
        text-shadow: 2px 4px 2px var(--text-shadow);
      }

      #headline_1_upper {
        margin: auto;
        color: var(--color-light);
      }

      #headline_1_lower {
        margin: auto;
        color: var(--color-secondary);
      }

      h2 {
        text-align: center;
        margin: auto;
        font-size: calc(var(--text-font-size-mobile) + 0.25svh);
        padding: 0rem 0 1rem 0;
        text-shadow: 2px 4px 2px var(--text-shadow);
      }

      p {
        text-align: center;
        font-size: var(--text-font-size-mobile);
        background-color: var(--color-dark);
        padding: 1rem 1rem 1rem;
        max-width: 100%;
        position: relative;
        margin: auto;
      }

      .container_1 {
        position: relative;
        background-color: var(--color-dark);
        color: var(--text-color-standard);
        max-width: 100%;
        box-shadow: 0px 0px 6px 0px var(--box-shadow);
      }

      .container_1 p {
        padding: 2rem 1rem 2rem;
        max-width: 45rem;
      }

      h3 {
        text-align: center;
        margin: auto;
        font-size: calc(var(--text-font-size-mobile) + 0.25svh);
        padding: 2rem 0;
        text-shadow: 2px 4px 2px var(--text-shadow);
      }
    }

    @media (min-width: 768px) {
      .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
        grid-auto-rows: 200px;
        margin: 3rem 1rem;
      }

      p {
        font-size: var(--text-font-size);
      }
    }

    @media (min-width: 1200px) {
      .gallery {
        grid-template-columns: repeat(5, minmax(300px, 1fr));
        grid-auto-rows: 300px;
      }

      p {
        font-size: var(--text-font-size);
      }
    }
  </style>
</Layout>
