---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Karriere">
  <div id="career_body"></div>
  <div class="group_image">
    <img src="/genau_du_cut_upscaled.jpg" alt="Genau dich suchen wir!" />
    <div class="top_box">
      <h1>
        <strong id="headline_1_upper">Deine Chance</strong>
        <br />
        <br />
        <strong id="headline_1_lower">Werde Römer!</strong>
      </h1>
    </div>
  </div>
  <h2>Junge aufstrebende und innovative Römergruppe sucht Verstärkung</h2>
  <div class="container_1">
    <br />
    <ul>
      <strong>Wir bieten dir:</strong>
      <li>ein Hobby für Einzelne oder die ganze Familie</li>
      <li>eine Freizeitbeschäftigung für jedes Alter</li>
      <li>
        Möglichkeiten zur individuellen Entfaltung und gemeinschaftlichen
        Handeln
      </li>
      <li>ein Tätigkeitsfeld für die Gemeinnützigkeit</li>
    </ul>
    <br />
    <ul>
      <strong>Du bringst mit:</strong>
      <li>eine Faszination für die römische Sache und ihre heutigen Spuren</li>
      <li>Interesse für ein aktives und außergewöhnliches Hobby</li>
      <li>tatkräftiges Einbringen in eine Gemeinschaft</li>
      <li>ein “wehrtaugliches” Alter von 14 Jahren bis Veteran</li>
    </ul>
  </div>
  <h3>Römer auf Probe</h3>
  <div class="container_1">
    <p>
      Römertage exklusiv und live mit- erleben Geboten werden: Aktive Teilnahme
      und Unterbringung bei den IV. Welzheimer Römertagen 2014: Mittendrin im
      Römerlager, Schlafen im Militärzelt, römisches Essen mit den Kameraden
      teilen, Drill und Alltag in einem Kastell erspüren, den Ernstfall proben…
      Alles was zum Römersein gehört: Intensives Ausprobieren, Mitmachen,
      Einblicke hinter die Kulisse, interessante Gespräche und Begegnungen am
      Lagerfeuer Fachliche Betreuung während und vor den Römertagen Mappe mit
      Ausbildung- und Infomaterial und einer Bilddokumentation Professionelle
      und historisch authentische Einführung in das Leben in einem römischen
      Kastell (Ausbildung….) Teilnahme an einem speziellen Vorbereitungsprogramm
      (Trainingseinheiten…) Authentische antike Verpflegung und Freizeitprogramm
      Anprobieren und Testen römischer Soldatenausrüstung Stellung einer
      römischen Grundausrüstung über die Ausbildungszeit Für interessierte
      Frauen kann ein entsprechendes ziviles Angebot (Handwerk, Kochen…
      angeboten werden Dieses Angebot ist unverbindlich und verlangt keine
      weitere Verpflichtung und ist als exklusives Schnupperangebot gedacht
      Ehepartner oder Familienangehörige können ggf. auch während den Römertagen
      einbezogen werden
    </p>
  </div>
</Layout>

<style>
  @media (min-width: 250px) {
    #career_body {
      z-index: 1;
      text-align: center;
      text-underline-offset: 0.5rem;
      font-size: var(--text-font-size-mobile);
    }

    .group_image {
      position: relative;
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .headline {
      display: flex;
      justify-content: space-between;
    }

    .top_box {
      padding: 2.5rem;
    }

    #headline_1_upper {
      margin: auto;
      color: var(--color-light);
    }

    #headline_1_lower {
      margin: auto;
      color: var(--color-secondary);
    }

    h2 {
      text-align: center;
      margin: auto;
      font-size: calc(var(--text-font-size-mobile) + 0.25svh);
      padding: 2rem 0 2rem 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    p {
      font-size: var(--text-font-size-mobile);
      background-color: var(--color-dark);
      padding: 1rem 1rem 1rem;
      max-width: 100%;
      text-align: center;
      position: relative;
      margin: auto;
    }

    .container_1 {
      text-align: center;
      position: relative;
      background-color: var(--color-dark);
      color: var(--text-color-standard);
      max-width: 100%;
      box-shadow: 0px 0px 6px 0px var(--box-shadow);
    }

    .container_1 p {
      padding: 2rem 1rem 2rem;
      max-width: 45rem;
    }

    .container_1 ul {
      font-size: var(--text-font-size-mobile);
      list-style-type: square;
      list-style-position: inside;
      text-align: start;
      max-width: 500px;
      margin: auto;
      padding: 1rem 1rem 2rem;
    }

    h3 {
      text-align: center;
      margin: auto;
      font-size: calc(var(--text-font-size-mobile) + 0.25svh);
      padding: 2rem 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }
  }

  @media (min-width: 769px) {
    p {
      font-size: var(--text-font-size);
    }

    .container_1 ul {
      font-size: var(--text-font-size);
    }
  }
</style>
