---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Karriere">
  <h1>Deine Karriere</h1>
  <h2>Junge aufstrebende und innovative Römergruppe sucht Verstärkung</h2>
  <ul>
    Wir bieten dir:
    <li>ein Hobby für Einzelne oder die ganze Familie</li>
    <li>eine Freizeitbeschäftigung für jedes Alter</li>
    <li>
      Möglichkeiten zur individuellen Entfaltung und gemeinschaftlichen Handeln
    </li>
    <li>ein Tätigkeitsfeld für die Gemeinnützigkeit</li>
  </ul>
  <ul>
    Du bringst mit:
    <li>eine Faszination für die römische Sache und ihre heutigen Spuren?</li>
    <li>Interesse für ein aktives und außergewöhnliches Hobby?</li>
    <li>tatkräftiges Einbringen in eine Gemeinschaft?</li>
    <li>ein “wehrtaugliches” Alter von 14 Jahren bis Veteran?</li>
  </ul>
  <p>
    Leistungskatalog: „Römer auf Probe“ – Römertage exklusiv und live mit-
    erleben Geboten werden: Aktive Teilnahme und Unterbringung bei den IV.
    Welzheimer Römertagen 2014: Mittendrin im Römerlager, Schlafen im
    Militärzelt, römisches Essen mit den Kameraden teilen, Drill und Alltag in
    einem Kastell erspüren, den Ernstfall proben… Alles was zum Römersein
    gehört: Intensives Ausprobieren, Mitmachen, Einblicke hinter die Kulisse,
    interessante Gespräche und Begegnungen am Lagerfeuer Fachliche Betreuung
    während und vor den Römertagen Mappe mit Ausbildung- und Infomaterial und
    einer Bilddokumentation Professionelle und historisch authentische
    Einführung in das Leben in einem römischen Kastell (Ausbildung….) Teilnahme
    an einem speziellen Vorbereitungsprogramm (Trainingseinheiten…) Authentische
    antike Verpflegung und Freizeitprogramm Anprobieren und Testen römischer
    Soldatenausrüstung Stellung einer römischen Grundausrüstung über die
    Ausbildungszeit Für interessierte Frauen kann ein entsprechendes ziviles
    Angebot (Handwerk, Kochen… angeboten werden Dieses Angebot ist unverbindlich
    und verlangt keine weitere Verpflichtung und ist als exklusives
    Schnupperangebot gedacht Ehepartner oder Familienangehörige können ggf. auch
    während den Römertagen einbezogen werden
  </p>
</Layout>
