---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
import Grid from "../components/grid.astro";
---

<Layout title="NVMERVS BRITTONVM">
  <main>
    <a href="index.html">
      <img class="logo" src="/public/nbl_logo.png" alt="Das offizielle Logo" />
    </a>
    <div class="group_image">
      <img src="/public/nbl_gruppenbild_1_cut.jpg" alt="Das Gruppenbild" />
      <p><strong>Der Limes lebt – Werde ein Teil davon!</strong></p>
    </div>
    <div class="bar">
      <h2 class="bar_headline">
        Im Welzheimer Ostkastell daheim, am ganzen Limes entlang zuhause!
      </h2>
      <p class="bar_paragraph">
        Willkommen bei der Römergruppe Numerus Brittonum! Tauchen Sie ein in die
        faszinierende Welt des antiken Roms! Die Mitglieder des Numerus
        Brittonum, eine vielfältige Gemeinschaft mit einer tiefen Leidenschaft
        für Geschichte, heißen Sie herzlich willkommen. Seit 2005 setzen wir uns
        dafür ein, den "obergermanisch-raetischen Limes" als lebendigen
        Geschichtsort zu vermitteln und die faszinierende Römerzeit zeitgemäß zu
        präsentieren.
      </p>
    </div>
    <div class="container">
      <p class="description">
        Als Abbild einer Grenztruppe samt ihres zivilen Umfeld eines
        Kastellstandortes macht der Numerus Brittonum das Lebens am Rande des
        Imperiums wieder lebendig. Damit hat 1800 Jahre nach Aufgabe der
        Welzheimer Ostkastells die Anlage und der gesamte Limes eine neue
        Besatzung gefunden. Mit seiner ehrenamtlichen und gemeinnützigen
        Tätigkeiten als eine Abteilung des Historischen Vereins Welzheim findet
        man die Gruppe bei Römerfesten, auf eigenen Veranstaltungen und bei der
        Realisierung ihrer eigenen Projekten. Dabei ist die Truppe, die Einzige,
        die sich dem Einheitentypus einer Numeri-Einheit widmet. Nebenbei sind
        wir in der Berufung auf die ehemalige Garnison des Ortes der “älteste”
        Verein des Landes Baden-Württemberg! Interesse geweckt? Dann viel
        Vergnügen bei der Lektüre unseres digitalen Auftritts, der hoffentlich
        dazu anregt, uns auch mal live im römischen Marschlager, irgendwo an der
        Limeslinie, zu erleben.
        <br />
        <strong> Der Limes lebt – Werde ein Teil davon!</strong>
        <br />
         Viel Vergnügen beim Weiterlesen wünscht Ihnen der NVMERVS BRITTONVM.
      </p>
    </div>

    <Grid />
    <div class="section_4">
      <img src="/public/genau_du_2.jpg" alt="Bild" />
      <div class="content">
        <h4>Für jeden Spaß zu haben</h4>
        <p>
          Wir sind flexibel und passen in jede Situation.
          <br />Ernst oder lustig
          <br />Stark oder einfühlsam
          <br />Fleißig oder bequem
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* CONTAINRER HIER LASSEN! SONST FUNKTIONIERT GRID NICHT MEHR RICHTIG, wieso auch immer. */
  .container {
    display: flex;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--text-color-standard);
    font-size: var(--text-font-size);
    line-height: 1.6;
    z-index: 0;
  }
</style>
