---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";
---

<Layout title="Das bieten wir">
  <TopBar />
  <div id="offers_body">
    <h1>Das bieten wir</h1>
    <div class="container_1">
      <div class="grid_image_right">
        <p>
          Der “NUMERUS BRITTONUM”, gegründet 2005 – im Jahre der Ernennung des
          Limes zum UNESCO-Welterbe – als Abteilung des Historischen Vereins
          Welzheim, widmet sich – im Wieder aufleben lassen einer römischen
          Auxiliareinheit des 3.Jahrhunderts n. Chr. einschließlich seines
          zivilen Umfeldes – der Vermittlung römischer Kulturgeschichte und
          Pflege des römischen Erbes und seiner sichtbaren Zeugnisse, wie dem
          Ostkastell, des Archäologischen Parks Welzheim.
          <br />
          Mit dem Profil “Leben am Limes” ist die personifizierte und exemplarische
          Darstellung vergangener Lebensformen und Lebenswelten einer Grenzgesellschaft
          der Hohen Kaiserzeit in den germanischen Provinzen Kernpunkt der Abteilungstätigkeit.
          <br />
          Die antike Grenzscheide des Imperiums, an der unsere Region Anteil hat,
          verbindet uns mit der weltgeschichtlichen Vergangenheit und ist Teil unserer
          Identität.
        </p>
        <img src="/darstellung_12.jpg" alt="Darstellungs-Bild-12" />
      </div>
    </div>
    <h2>Vermittlungspartner</h2>
    <div class="container_1">
      <div class="grid_image_left">
        <p>
          In unserer Arbeit ist die Kooperation mit den verschiedenen musealen
          Trägern und Institutionen, die sich mit der römischen Vergangenheit
          des Landes befassen, von größter Bedeutung. So hat sich inzwischen
          eine enge Partnerschaft zum Römerhaus in Walheim und den Förderverein
          Freilichtanlage „Römischer Guthof Hechingen-Stein“ entwickelt, die
          noch weiter ausgebaut werden soll. Auch wird großer Wert auf
          Zusammenarbeit, Austausch und Kooperation mit anderen
          Darstellungsgruppen gelegt, um dem Vermittlungsauftrag gerecht zu
          werden. Insbesondere die Partnerschaft mit den übrigen Gruppen,
          desselben Schwerpunkts auf das 3.Jhd., sind hier von großen
          Wichtigkeit. Im Sinne einer umfassenden, ganzheitlichen
          Limesvermittlung sind auch eine rege Kooperation mit den verschiedenen
          Germanengruppen des Landes ein wichtiges Anliegen (vgl. Rubrik
          Partner).
        </p>
        <img src="/darstellung_13.jpg" alt="Darstellungs-Bild-13" />
      </div>
    </div>
    <h3>
      Forschungsrezeption, eigene Recherche und wissenschaftliches Netzwerk
    </h3>
    <div class="container_1">
      <p>
        Die Gruppe kann auf eine eigenständige Forschungstätigkeit der
        Mitglieder im Bereich der archäologischen Fachliteratur und weiteren
        Publikationen verweisen. Die Vermittlungstätigkeit verlangt eine
        permanente Aktualisierung des eigenen Kenntnisstands der Mitglieder um
        eine möglichst akkurate Qualität der Darstellung zu gewährleisten. Um
        dies sicherzustellen wurde auch eine Abteilungsbibliothek mit einer
        Vielzahl an Standardwerken und Spezialliteratur angelegt. Neben diesem
        wissenschaftlichen Austausch innerhalb der Abteilung kann die Gruppe
        auch auf ein gutes Netzwerk an wissenschaftlichen Beratern und
        Unterstützern im Bereich der archäologischen Forschung und der
        Denkmalpflege zurückgreifen. Diese bilden Grundlage für eine angewandte
        Unterstützung der Limesforschung [Liste LIZ, Landesmuseum…)
      </p>
    </div>
    <h4>Vereinseigene Jugendarbeit</h4>
    <div class="container_1">
      <p>
        Die Abteilung sieht in einer intensiven Jugend- und Schulbetreuung den
        Schlüssel für eine erfolgreiche Vermittlung des Limes im 21.Jahrhundert.
        Die Abteilung ist zwar dezidiert keine Jugendgruppe im klassischen Sinn,
        doch betreibt sie in ihrer kulturhistorischen Vermittlungsarbeit aktive
        und innovative Jugendarbeit, zumal auch ein beachtlicher Teil der
        Mitglieder selbst sich noch im Jugendalter befindet. So bilden neben den
        öffentlichen Anlässen, die vereinsinternen Programme und Aktivitäten,
        wie regelmäßige Truppenstunden, Exkursionen, Werkstattwochenenden die
        Grundlage für eine inhaltliche Vertiefung des Wissens, das für eine
        Vermittlung unerläßlich ist. Vermittlung ist damit sowohl eine Aufgabe
        nach außen als auch nach innen.
      </p>
    </div>
    <h5>Ehrenamt und Gemeinnützigkeit</h5>
    <div class="container_1">
      <p>
        Unsere Abteilung arbeitet mit großen Zeitaufwand und Engagement an ihrem
        selbst auferlegten Vermittlungsauftrag der Geschichte. Dabei geschieht
        dies vollkommen ehrenamtlich und die Erlöse von Veranstaltungen und die
        erhaltenen Auftrittsgagen kommen allein den Abteilungszwecken zugute,
        was nicht unbedingt in dem Bereich üblich ist, zumal neben dem hohen
        zeitlichen Aufwand der Mitglieder auch eine hohe Bereitschaft zur
        Anschaffung von kostenintensiven individueller Ausrüstung notwendig ist.
        Die Abteilungseigene Ausrüstungsmittel, wie zum Beispiel das
        Lagerequipment sind sehr aufwendig, in handwerklichen Eigenleistungen zu
        erstellen.
      </p>
    </div>
    <h6>Vereinspartner und Förderer</h6>
    <div class="container_1">
      <p>
        Da enorme Mittel für die Erweiterung und Verbesserung der vereinseigenen
        Ausrüstung und die Qualifizierung des Nachwuchs in der
        Vermittlungsarbeit notwendig sind, sind wir zusätzlich zu unseren
        Möglichkeit der Eigenmittelaufbringung an Veranstaltungen auf
        wohlwollende Unterstützer und Förderer angewiesen, die sich für unsere
        Anliegen konkret einsetzen. Dieses Netzwerk von Förderern soll
        mittelfristig noch erweitert werden. (vgl. Rubrik Förderer)
      </p>
    </div>
  </div>

  <style>
    @media (min-width: 250px) {
      #offers_body {
        z-index: 1;
        margin: 8rem auto 0rem;
        text-align: center;
        text-underline-offset: 0.5rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: calc(var(--text-font-size-mobile) + 0.5rem);
        margin: auto;
        padding: 2rem 0;
        text-shadow: 2px 4px 2px var(--text-shadow);
      }

      p {
        font-size: var(--text-font-size-mobile);
        background-color: var(--color-dark);
        padding: 1rem 1rem 1rem;
        max-width: 100%;
        position: relative;
        margin: auto;
      }

      .container_1 {
        position: relative;
        background-color: var(--color-dark);
        color: var(--text-color-standard);
        max-width: 100%;
        box-shadow: 0px 0px 6px 0px var(--box-shadow);
      }

      .container_1 p {
        padding: 2rem 1rem 2rem;
        max-width: 45rem;
      }

      .grid_image_right,
      .grid_image_left {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
      }

      .grid_image_left img {
        order: -1;
      }
    }

    @media (min-width: 768px) {
      p {
        font-size: var(--text-font-size);
      }
    }
  </style>
</Layout>
