---
import "../styles/global.css";
let currentTime = new Date();
let year = currentTime.getFullYear();
---

<footer>
  <p>
    2005 - {year} Copyright &copy; Historischer Verein Welzheimer Wald e.V. - Alle
    Rechte Vorbehalten.
  </p>
  <a href="/impressum.html" class="link-grey">[Impressum & Datenschutz]</a>
</footer>

<style>
  @media (min-width: 250px) {
    footer {
      z-index: -1;
      text-align: center;
      font-size: calc(var(--text-font-size) - 0.25rem);
      padding: 1rem 1rem 2rem 1rem;
      color: beige;
    }

    .link-grey {
      color: beige;
      text-decoration: none;
    }
  }
</style>
