---
let currentTime = new Date();
let year = currentTime.getFullYear();
---

<footer>
  <p>
    2005 - {year} Copyright &copy; Historischer Verein Welzheimer Wald e.V. -
    Alle Rechte Vorbehalten.
  </p>
  <ul>
    <li>
      <a href="/impressum.html" class="link-grey">[Impressum & Datenschutz]</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    background: var(--color-dark);
    font-size: calc(0.75rem + var(--font-scale));
    padding-bottom: 32px;
    color: beige;
  }

  footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .link-grey {
    color: beige;
    text-decoration: none;
  }
</style>
