---
import { Image } from "astro:assets";
export default function Gallery({ images }) {
  return (
    <div class="gallery">
      {" "}
      {images.map((image, index) => (
        <Image key={index} src={image.src} alt={image.alt} />
      ))}{" "}
    </div>
  );
}
---
