---
import "../styles/global.css";
---

<nav role="navigation">
  <div id="menuToggle">
    <input id="toggle" name="toggle" type="checkbox" />
    <label for="toggle">
      <span>Menu</span>
      <div></div>
      <div></div>
      <div></div>
    </label>
    <a href="index.html" class="logo_link">
      <img
        class="logo_header"
        src="/nbl_logo_black.png"
        alt="Das offizielle Numerus Brittonum Logo"
      />
    </a>
    <ul id="menu">
      <li><a href="index.html">HOME</a></li>
      <li><a href="career.html">KARRIERE</a></li>
      <li><a href="offers.html">ANGEBOT</a></li>
      <li><a href="events.html">EVENTS</a></li>
      <li><a href="about.html">ÜBER&nbsp;UNS</a></li>
      <li><a href="members.html">MITGLIEDER</a></li>
      <li><a href="contact.html">KONTAKT</a></li>
    </ul>
  </div>
</nav>

<style>
  @media (min-width: 250px) {
    header {
      z-index: 99;
    }

    /* The header shown inside the navigation menu when toggled */
    .logo_header {
      max-width: 50%;
      position: fixed;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition:
        opacity 1s ease,
        transform 1s ease;
      top: 0;
      left: 10svw;
      transform: translateY(-100%);
      margin-top: 1.5rem;
    }

    /* Display the logo when menu is toggled */
 #menuToggle input:checked ~ .logo_link .logo_header {
      opacity: 1;
      top: 0;
      transform: translateY(0%);
      pointer-events: auto;
    }

    #menuToggle {
      display: block;
      position: fixed;
      top: 40px;
      right: 50px;
      z-index: 1;
    }

    #menuToggle a {
      text-decoration: none;
      color: #ffffff;
    }

    #menuToggle a:hover {
      color: var(--color-tertiary);
    }

    /* Hamburger button creation */
    #menuToggle label div {
      max-width: 25px;
      height: 4px;
      margin-bottom: 4px;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      animation: fly 1s forwards;
      transition: 0.5s;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 25px;
      height: 20px;
      top: 12px;
      right: 13px;
      cursor: pointer;
      opacity: 0;
      z-index: 99;
      -webkit-touch-callout: none;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 25px;
      height: 20px;
      top: 15px;
      right: 16px;
      z-index: 2;
    }

    /* Belongs to the clickable container 2 */
    #menuToggle label span {
      display: none;
    }

    /* Change the color of the hamburger when toggled */
    #menuToggle input:checked + label div {
      background: var(--text-color-dark);
      transition: 0.5s;
    }

    /* Menu items format when Hamburger menu is toggled */
    #menu {
      background: var(--color-primary);
      text-shadow: 2px 4px 2px var(--text-shadow);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      text-align: left;
      position: fixed;
      width: 100%;
      margin: 0;
      padding: 5rem 0;
      list-style-type: none;
      top: -100%;
      right: 0;
      padding-right: 0px;
      gap: 2rem;
      -webkit-transition: top 0.8s ease;
      -o-transition: top 0.8s ease;
      transition: top 0.8s ease;
    }

    /* White menu column creation */
    #menu::after {
      content: "";
      z-index: 2;
      background: var(--color-light);
      width: 56px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      opacity: 0;
      transform: translateX(10px);
      transition:
        opacity 1s ease,
        transform 1s ease;
    }

    /* Backwards animation for the white menu column */
    #menuToggle input:checked ~ #menu::after {
      opacity: 1;
      transform: translateX(0);
    }

    /* Menu list items format */
    #menu li {
      padding: 0.35rem 0;
      font-size: 1.5rem;
      font-weight: bold;
      position: relative;
      transition: transform 0.3s ease;
    }

    /* Animation for the menu categories */
    #menu li:hover {
      transform: translateX(-15px);
    }

    #menu li::before,
    #menu li::after {
      content: "";
      background-color: var(--text-color-dark);
      text-shadow: 2px 4px 2px var(--text-shadow);
      display: block;
      width: 1000px;
      height: 2px;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%); /* Zentriert den Balken horizontal */
      transition: transform 0.3s ease;
    }

    #menu li::before {
      top: 100%;
      transform-origin: right;
    }

    #menu li::after {
      bottom: 100%;
      transform-origin: left;
    }

    #menu li:hover::before,
    #menu li:hover::after {
      transform: scaleX(1);
    }

    #menu li:hover::after {
      transform: translateX(-15px);
    }

    #menuToggle input:checked ~ #menu li a {
      pointer-events: auto;
    }

    #menuToggle input:checked ~ ul {
      top: 0;
    }
  }

  @media (min-width: 769px) {
    #menu {
      align-items: flex-start;
      width: 8%;
      padding: 5rem 2.75rem 0 2.75rem;
      padding-right: 100px;
      padding-bottom: 100vmax;
      gap: 3rem;
      opacity: 0;
      transition: 1s;
    }

    #menuToggle input:checked ~ #menu {
      opacity: 1;
      animation: SlideIn 1s;
    }

    #menu::after {
      width: 49px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
    }

    /* Menu list items format */
    #menu li {
      font-size: 1rem;
    }

    #menu li::before,
    #menu li::after {
      width: 500px;
      height: 2px;
      transform: translateX(-10%);
    }

    /* Hamburger */
    #menuToggle label div {
      max-width: 35px;
      height: 5px;
      margin-bottom: 7px;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 35px;
      height: 30px;
      top: 37px;
      right: 29px;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 35px;
      height: 30px;
      top: 40px;
      right: 32px;
    }

      @media (min-width: 1150px) {
    /* Menu list items format */
    #menu li {
      font-size: 1.25rem;
    }
  }
</style>
