---

---

<header>
  <div class="container">
    <div class="logo">
      <a href="index">
        <img src="/public/nbl-logo.png" alt="" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="about">Verein</a></li>
        <li><a href="events">Events</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .container {
    display: flex;
  }

  .container ul {
    display: flex;
    list-style: none;
    gap: 2em;
  }
</style>
