<nav role="navigation">
  <div id="menuToggle">
    <input id="toggle" name="toggle" type="checkbox" />
    <label for="toggle">
      <span>Menu</span>
      <div></div>
      <div></div>
      <div></div>
    </label>
    <a href="index.html" class="logo_link">
      <img
        class="logo_header"
        src="/nbl_logo_black.png"
        alt="Das offizielle Numerus Brittonum Logo"
      />
    </a>
    <ul id="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="career.html">Karriere</a></li>
      <li><a href="offers.html">Angebot</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="about.html">Über&nbsp;uns</a></li>
      <li><a href="members.html">Mitglieder</a></li>
      <li><a href="contact.html">Kontakt</a></li>
    </ul>
  </div>
</nav>

<style>
  @media (min-width: 250px) {
    /* The header shown inside the navigation menu when toggled */
    .logo_header {
      max-width: 30%;
      position: fixed;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition:
        opacity 0.8s ease,
        transform 0.8s ease;
      top: 0;
      left: 10svw;
      transform: translateY(-100%);
      margin-top: 1.5em;
    }

    /* Display the logo when menu is toggled */
    #menuToggle input:checked ~ .logo_link .logo_header {
      opacity: 1;
      top: 0;
      transform: translateY(0%);
      pointer-events: auto;
    }

    #menuToggle {
      display: block;
      position: fixed;
      top: 40px;
      right: 50px;
      z-index: 1;
    }

    #menuToggle a {
      text-decoration: none;
      color: #ffffff;
    }

    #menuToggle a:hover {
      color: #4f7794;
    }

    /* Hamburger button creation */
    #menuToggle label div {
      max-width: 25px;
      height: 4px;
      margin-bottom: 4px;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      animation: fly 1s forwards;
      transition: 0.5s;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 25px;
      height: 20px;
      top: 12px;
      right: 13px;
      cursor: pointer;
      opacity: 0;
      z-index: 99;
      -webkit-touch-callout: none;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 25px;
      height: 20px;
      top: 15px;
      right: 16px;
      z-index: 2;
    }

    /* Belongs to the clickable container 2 */
    #menuToggle label span {
      display: none;
    }

    /* Change the color of the hamburger when toggled */
    #menuToggle input:checked + label div {
      background: var(--text-color-dark);
      transition: 0.5s;
    }

    /* Menu when Hamburger menu is toggled */
    #menu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      text-align: left;
      position: fixed;
      width: 100%;
      margin: 0;
      padding: 50px;
      background: var(--color-primary);
      list-style-type: none;
      top: -100%;
      left: 0;
      padding-right: 100px;
      -webkit-transition: top 0.8s ease;
      -o-transition: top 0.8s ease;
      transition: top 0.8s ease;
      gap: 4svw;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    /* White menu column creation */
    #menu::after {
      content: "";
      background: var(--color-light);
      width: 55px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      transform: translateX(10px);
      transition:
        opacity 0.8s ease,
        transform 0.8s ease;
    }

    /* Backwards animation for the white menu column */
    #menuToggle input:checked ~ #menu::after {
      opacity: 1;
      transform: translateX(0);
    }

    /* Menu categories link format */
    #menu a {
      padding: 1svw;
    }

    /* Menu categories format */
    #menu li {
      padding: 5px 0;
      font-size: 22px;
      font-weight: bold;
      position: relative;
      transition: transform 0.3s ease;
    }

    /* Animation for the menu categories */
    #menu li:hover {
      transform: translateX(-15px);
    }

    #menu li::after {
      content: "";
      display: block;
      width: 130px;
      height: 1px;
      background-color: var(--text-color-dark);
      position: absolute;
      bottom: 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
      transition: transform 0.3s ease;
    }

    #menu li:hover::after {
      transform: translateX(-15px);
    }

    #menuToggle input:checked ~ #menu li a {
      pointer-events: auto;
    }

    #menuToggle input:checked ~ ul {
      top: 0;
    }
  }

  @media (min-width: 768px) {
    #menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      position: fixed;
      width: 8%;
      margin: 0;
      padding: 50px;
      top: -100%;
      right: 0;
      padding-right: 100px;
      -webkit-transition: top 0.8s ease;
      -o-transition: top 0.8s ease;
      transition: top 0.8s ease;
      gap: 4svw;
    }

    #menu::after {
      width: 49px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
    }

    /* Hamburger */
    #menuToggle label div {
      max-width: 35px;
      height: 5px;
      margin-bottom: 7px;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 35px;
      height: 30px;
      top: 37px;
      right: 29px;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 35px;
      height: 30px;
      top: 40px;
      right: 32px;
    }
  }
</style>
