---
import "../styles/global.css";
---

<nav role="navigation">
  <div id="menuToggle">
    <input id="toggle" name="toggle" type="checkbox" />
    <label for="toggle">
      <span>Menu</span>
      <div></div>
      <div></div>
      <div></div>
    </label>
    <a href="index.html" class="logo_link">
      <img
        class="logo_header"
        src="/nbl_logo_black.png"
        alt="Das offizielle Numerus Brittonum Logo"
      />
    </a>
    <ul id="menu">
      <li><a href="/index.html">HOME</a></li>
      <li><a href="/career.html">KARRIERE</a></li>
      <li><a href="/offers.html">ANGEBOT</a></li>
      <li><a href="/events.html">EVENTS</a></li>
      <li><a href="/about.html">ÜBER&nbsp;UNS</a></li>
      <li><a href="/members.html">MITGLIEDER</a></li>
      <li><a href="/contact.html">KONTAKT</a></li>
    </ul>
  </div>
</nav>

<style>
  @media (min-width: 1400px) {
    #menu {
      align-items: flex-start;
      width: 10rem;
      max-height: 100px;
      padding-right: 150px;
      gap: 1rem;
    }

    /* Menu links styling 1440px*/
    #menu a {
      width: 20rem;
      height: 110px;
    }
  }

  @media (min-width: 250px) {
    header {
      z-index: 99;
    }

    /* The header shown inside the navigation menu when toggled */
    .logo_header {
      max-width: 50%;
      position: fixed;
      z-index: 10;
      opacity: 0;
      pointer-events: none;
      transition:
        opacity 1s ease,
        transform 1s ease;
      top: 0;
      left: 10svw;
      transform: translateY(-100%);
      margin-top: 1.5rem;
    }

    /* Display the logo when menu is toggled */
    #menuToggle input:checked ~ .logo_link .logo_header {
      opacity: 10;
      top: 0;
      transform: translateY(0%);
      pointer-events: auto;
    }

    #menuToggle {
      display: block;
      position: fixed;
      top: 40px;
      right: 50px;
      z-index: 10;
    }

    #menuToggle a {
      text-decoration: none;
      color: #ffffff;
    }

    #menuToggle a:hover {
      color: var(--text-color-standard);
    }

    /* Hamburger button creation */
    #menuToggle label div {
      max-width: 25px;
      height: 4px;
      margin-bottom: 4px;
      background: #ffffff;
      border-radius: 3px;
      z-index: 10;
      animation: fly 0.8s forwards;
      transition: 0.5s;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 25px;
      height: 20px;
      top: 12px;
      right: 13px;
      cursor: pointer;
      opacity: 0;
      z-index: 99;
      -webkit-touch-callout: none;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 25px;
      height: 20px;
      top: 15px;
      right: 16px;
      z-index: 20;
    }

    /* Belongs to the clickable container 2 */
    #menuToggle label span {
      display: none;
    }

    /* Change the color of the hamburger when toggled */
    #menuToggle input:checked + label div {
      background: var(--text-color-dark);
      transition: 0.5s;
    }

    #menuToggle input:checked ~ #menu {
      top: 0;
      opacity: 1;
      pointer-events: auto; /* Setze pointer-events auf auto, wenn das Menü getoggled ist */
    }

    /* Menu items format when Hamburger menu is toggled */
    #menu {
      pointer-events: none; /* To make the image gallery clickable as long as menu is not toggled */
      list-style-type: none;
      background: var(--color-primary);
      text-shadow: 2px 4px 2px var(--text-shadow);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      width: 100%;
      margin: 0;
      padding: 5rem 0;
      right: 0;
      gap: 1rem;
      top: 100%;
      opacity: 0;
      transition: 0.8s ease;
      max-height: 80%;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    /* Menu links styling 768px*/
    #menu a {
      color: var(--color-background-primary);
      width: 10.5rem;
      height: 84px;
      background-image: url("/pillar_2_horizontal.png");
      background-size: cover;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    /* Menu list items format */
    #menu li {
      padding: 0.35rem 0;
      font-size: 1.5rem;
      font-weight: bold;
      position: relative;
      transition: transform 0.3s ease;
    }

    /* Animation for the menu categories */
    #menu li:hover {
      transform: translateX(-15px);
    }

    #menu li::before,
    #menu li::after {
      content: "";
      background-color: var(--text-color-dark);
      text-shadow: 2px 4px 2px var(--text-shadow);
      display: block;
      width: 60rem;
      height: 2px;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      transition: transform 0.3s ease;
    }

    #menu li::before {
      top: 100%;
      transform-origin: right;
    }

    #menu li::after {
      bottom: 100%;
      transform-origin: left;
    }

    #menu li:hover::before,
    #menu li:hover::after {
      transform: scaleX(1);
    }

    #menu li:hover::after {
      transform: translateX(-15px);
    }

    #menuToggle input:checked ~ #menu li a {
      pointer-events: auto;
    }

    #menuToggle input:checked ~ ul {
      top: 0;
      pointer-events: auto; /* To block clicking the image gallery when menu is toggled */
    }
  }

  @media (min-width: 769px) {
    #menu {
      align-items: flex-start;
      width: 6.5svw;
      padding: 5rem 0rem 0 2.75rem;
      padding-right: 7rem;
      padding-bottom: 100vmax;
      gap: 1rem;
      opacity: 0;
      transition: 0.8s ease;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    /* Menu links styling 768px*/
    #menu a {
      width: 18rem;
      height: 100px;
      background-image: url("/pillar_2_horizontal_long.png");
      background-size: cover;
      display: inline-flex;
      padding-left: 2.5rem;
      justify-content: left;
    }

    #menuToggle input:checked ~ #menu {
      opacity: 1;
      animation: SlideIn 1s;
    }

    /* Menu list items format */
    #menu li {
      font-size: 1rem;
    }

    #menu li::before,
    #menu li::after {
      width: 500px;
      height: 3px;
      transform: translateX(-10%);
    }

    /* Hamburger */
    #menuToggle label div {
      max-width: 35px;
      height: 5px;
      margin-bottom: 7px;
    }

    /* The hamburger clickable container 1 */
    #menuToggle input {
      display: block;
      position: fixed;
      width: 35px;
      height: 30px;
      top: 37px;
      right: 29px;
    }

    /* The hamburger clickable container 2 */
    #menuToggle label {
      position: fixed;
      display: block;
      width: 35px;
      height: 30px;
      top: 40px;
      right: 32px;
    }
  }

  @media (min-width: 1150px) {
    /* Menu list items format */
    #menu li {
      font-size: 1.25rem;
    }
  }
</style>
