---
import "../styles/global.css";
import "../styles/index.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
  </head><a href="../pages/about.astro"></a>
  <title>{title}</title>

  <body>
    <Header />

    <slot />

    <Footer />
  </body>

  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>


</html>
